@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden; /* 스크롤바가 나타나지 않도록 설정 */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: auto; /* 내용이 넘칠 경우 스크롤 가능하도록 설정 */
}

header, footer {
    flex-shrink: 0; /* header와 footer가 크기를 줄이지 않도록 설정 */
}

span.title_text01 {
	font-size: 80px;
	color: #000000;
	font-family: Arial;
	font-weight: bold;
	
}

span.title_text02 {
	font-size: 30px;
	color: #000000;
	font-family: Arial;
}

span.skill_text01 {
	font-size: 70px;
	color: #828282;
	font-family: Arial;
	font-weight: bold;
}

span.skill_text02 {
	font-size: 40px;
	color: 	#a0a0a0;
	font-family: Arial;
	font-weight: bold;
}

td.skill_box {
	background-color: #F5F5F5;
}

td.img_box {
	background-color: #F5F5F5;
}

.container {
    flex: 1; /* 나머지 공간을 채우도록 설정 */
    overflow: auto; /* 내용이 넘칠 경우 스크롤 가능하도록 설정 */
}

