@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

span.title_text01 {
	font-size: 80px;
	color: #05445E;
	font-family: Arial;
	font-weight: bold;
	
}

span.title_text02 {
	font-size: 30px;
	color: #05445E;
	font-family: Arial;
}

span.skill_text01 {
	font-size: 70px;
	color: #189AB4;
	font-family: Arial;
	font-weight: bold;
}

span.skill_text02 {
	font-size: 40px;
	color: #75E6DA;
	font-family: Arial;
	font-weight: bold;
}

td.skill_box {
	background-color: #05445E;
}

td.img_box {
	background-color: #D4F1F4;
}

.container {
    flex: 1; /* 나머지 공간을 채우도록 설정 */
}

